<%
include('/_utils');
// このブロックでは、このコンポーネントのdefault valueを設定します。
// include('/_head', {title: 'xxxxx'}) のような形でオプションを渡した時には、それが利用され、
// 渡されていない時には下記のデフォルト値が使われます。
/*
例）
titleに "default title" というデフォルト値が設定されていた場合、
include('/_head', {title: 'aaa'}) => 'aaa'
include('/_head', {title: ''}) => ''
include('/_head', {title: null}) => null
include('/_head', {}) => 'default title'
include('/_head', {title: undefined}) => 'default title'
*/

const params = ejsUtils.defaultParamsMapper(locals, {
  title: '共通タイトル',
  description: '共通description',
  keywords: '共通,keyword',
  // url: 'http://domain.com/',
  // ogImg: 'http://domain.com/ogp.png',
  ogType: 'article',
  originalCss: '',
})
%>

<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />

  <!-- links -->
  <link rel="manifest" href="./manifest.json">

  <!-- title, description -->
  <title><%- params.title %></title>
  <meta name="description" content="<%- params.description %>">
  <meta name="keywords" content="<%- params.keywords %>">
  <link rel="canonical" href="<%- params.url %>">
  <meta property="og:title" content="<%- params.title %>" />
  <meta property="og:type" content="<%- params.ogType %>" />
  <meta property="og:url" content="<%- params.url %>" />
  <meta property="og:image" content="<%- params.ogImg %>" />
  <meta property="og:description" content="<%- params.description %>" />

  <!-- assets -->
  <link rel="stylesheet" href="/assets/css/app.css" />
  <link rel="stylesheet" href="/assets/css/<%- params.originalCss %>.css" />
</head>

<body>
